<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <h1>Reset Password</h1>
    <p>Please fill in the details to reset your password</p>

    <form id="forgot-password-form" (submit)="forgotPassword($event)">
      <ion-item class="custom-item">
        <ion-input type="email" placeholder="Email" id="email" required></ion-input>
      </ion-item>
      <ion-item class="custom-item">
        <ion-select interface="alert" placeholder="Security Question" id="securityQuestion" required>
          <ion-select-option *ngFor="let question of securityQuestions" [value]="question">{{ question }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="custom-item">
        <ion-input type="text" placeholder="Security Answer" id="securityAnswer" required></ion-input>
      </ion-item>
      <ion-item class="custom-item">
        <ion-input type="password" placeholder="New Password" id="newPassword" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" class="reset-button">Reset Password</ion-button>
    </form>
    <ion-button expand="block" fill="clear" class="signin-button" (click)="loadPage('signin')">Back to Sign In</ion-button>
  </div>

  <ion-toast [isOpen]="showToast" [message]="toastMessage" [color]="toastColor" duration="2000"></ion-toast>
</ion-content>
